html {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 770px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 50px;
  text-align: right;
  z-index: 10;
}

header .container {
  position: relative;
}

.header-left {
  display: flex;

}

header img {
  width: 82px;
  height: 30px;
  margin-top: 10px;
  margin-right: 8px;
}

header p {
  font-size: 9px;
  margin-top: 25px;
}


header a {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  background-color: #DB6B65;
  font-size: 10px;
  letter-spacing: 1.3px;
  font-weight: normal;
  padding: 8px 20px;
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 25px;
}

header a:hover, .top-news h3 a:hover {
  background-color: #d84940;
}


.top-wrapper {
  background-image: url(img/main.jpg);
  background-size: cover;
  background-position: center 20px;
  height: 380px;
  padding-top: 110px;
  padding-bottom: 70px;
  text-align: center;
  box-sizing: border-box;
}

.top-wrapper img {
  width: 210px;
  height: 73px;
  margin: 5px 0 30px 0;
}

.top-wrapper h1 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
}



.top-wrapper h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: normal;
}


.top-news {
  background-color: #EBB94D;
  color: #fff;
  text-align: center;
  height: 390px;
}

.top-news p {
  font-size: 15px;
  line-height: 25px;
}

.top-news p:first-child {
    padding-top: 15px;
}

.top-news span {
  font-size: 12px;
  color: #C7254E;
  background-color: #F9F2F4;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
}

.top-news h3 a {
  display: inline-block;
  color: #fff;
  background-color: #DB6B65;
  padding: 25px 195px;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.recruitment li {
  font-size: 13px;
  line-height: 45px;
  font-weight: bold;
  height: 100%;
  list-style: none;
  letter-spacing: 2px;
}

.btn a {
  background-color: #1B76F2;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 5px;
  margin-right: 10px;
}

.sec01 {
  background-image: url(img/introbottom.jpg);
  background-position: center center;
  height: 385px;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}


.sec01 h1 {
  display: inline-block;
  font-size: 20px;
  padding: 20px 55px;
  margin-bottom: 50px;
  position: relative;
}

.sec01 h1::before, .sec01 h1::after, .sec02 h1::before, .sec02 h1::after, .sec05-title::before, .sec05-title::after  {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
}

.sec01 h1::before, .sec02 h1::before, .sec05-title::before {
  border-top: 2px solid #EBB94D;
  border-left: 2px solid #EBB94D;
  top: 0;
  left: 0;
}

.sec01 h1::after, .sec02 h1::after, .sec05-title::after {
  border-bottom: 2px solid #EBB94D;
  border-right: 2px solid #EBB94D;
  bottom: 0;
  right: 0;
}

.sec01 p {
  font-size: 14px;
  line-height: 20px;
}

.second-p {
  margin: 15px 0;
}

.sec01 span {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #EBB94D 70%);
}


.about {
  text-align: center;
  margin-top: -25px;
  margin-bottom: -25px;

}

.about h1 {
  display: inline-block;
  background-color: #EBB94D;
  color: #FBF1DC;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
  font-weight: normal;





}

.skill {

  width: 775px;
  height: 165px;
  background-color: #fff;
  border: 2px solid #EBB94D;

}

.skill h2 {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.skill p {
  margin-top: 5px;
  font-size: 4px;
  line-height: 15px;



}

.sec02 {
  height: 420px;
  background-color: #FEF5E0;
  text-align: center;
  padding-top: 80px;

}

.about-answer {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 35px;
}


.sec02 li {
  display: inline-block;

  width: 100px;

}

.sec02 li img {
  height: 38px;
  width: auto;
}

.sec02 h1 {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  padding: 20px 165px;
  margin-bottom: 40px;
  position: relative;

}

.sec03 {
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 290px;
  max-height: 930px;
  position: relative;
  padding-top: 40px;

}

.sec03 h1 {
  font-size: 18px;
  margin-bottom: 20px;
}


.sec03 span, .sec03-2 span {
  color: #EBB94D;
}


.sec03-2 {
  background-color: #036EA9;
  height: 95px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

}

.sec03-2 .container {
  height: 100%;
  display: table;
}

.sec03-2 p {
  line-height: 12px;
  line-height: 25px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;


}



.step li {
  background-color: #fff;
  color: #000;
  display: inline-block;
  width: 245px;
  height: 120px;
  margin: 30px 6px 0 0;

  border-radius: 5px;
}

.step h2 {
  background-color: #EBB94D;
  color: #fff;
  width: 205px;
  margin: 20px auto 20px auto;
  padding: 3px 0;
  border-radius: 5px;
  font-size: 5px;
}

.sec03 p {
  font-size: 13px;
  line-height: 20px;
}

.sec04 {
  height: 335px;
  text-align: center;
}

.sec04 h1 {
  font-size: 20px;
  padding: 40px 0;
}

.sec04 h2 {
  font-size: 13px;
  font-weight: normal;
}

.sec04 p {
  font-size: 11px;
  padding: 40px 0;
}

.sec04 img {
  width: 120px;
  margin-right: 20px;
  margin-top: 30px;
}

.sec05 {
  height: 670px;
  background-color: #FEF5E0;
  text-align: center;
}



.sec05 h1 {
  font-size: 22px;
  line-height: 35px;
}

.sec05 h2 {
  font-size: 15px;
}

.saport {
  width: 770px;
  height: 170px;
  background-color: #fff;
  border: 2px solid #EBB94D;
  margin-top: 35px;
  margin-bottom: 23px;
  padding-top: 30px;
  padding-bottom: 35px;
  box-sizing: border-box;
}

.merit h2 {
  font-size: 13px;
  color: #EBB94D;
  line-height: 30px;

}

.merit li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 240px;
  list-style: none;
  margin-right: 10px;
}


.merit p {
  font-size: 10px;
  color: #54514E;
  line-height: 15px;
}

.merit img {
  width: 240px;
  height: 120px;

}

.sec05-title {
  position: relative;
  display: inline-block;
  padding: 15px 140px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.saport h1 {
  color: #EBB94D;
}


.saport h2 {
  font-size: 12px;
  margin: 15px 0;
  font-weight: normal;
}

.saport p {
  font-size: 10px;
}

.sec05 p {
  font-size: 10px;
  line-height: 15px;
}

.sec06 {
  color: #fff;
  height: 540px;
  background-image: url(img/teacherbg.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 55px;
}

.sec06 h1 {
  font-size: 20px;
  margin-bottom: 25px;

}

.sec06 h2 {
  font-size: 13px;
  margin-bottom: 30px;
  font-weight: normal;
}

.member-list li {
  display: inline-block;
  width: 240px;
  height: 370px;
  vertical-align: top;
  position: relative;
  margin-right: 13px;
}

.member-list p {
  font-size: 11px;
  line-height: 20px;
  margin-top: 5px;
  text-align: left;
}

.member-list h3 {
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}

.member-list img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 55px;
}

.introduce {
  width: 240px;
  height: 260px;
  margin-top: 110px;
  padding: 20px 25px 25px 30px;
  box-sizing: border-box;
  border: 2px solid #fff;
}

.q-and-a p {
  background-color: #fff;
  color: #EBB94D;
  font-size: 7px;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 55px;
}

.question {
  height: 175px;
  text-align: center;
  color: #fff;
  padding-top: 25px;
  background-color: #EBB94D;
}



.question h1 {
  font-size: 20px;
  padding: 10px 100px;
  line-height: 25px;
  position: relative;
  display: inline-block;

}

.question h1::before, .question h1::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
}

.question h1::before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  top: 0;
  left: 0;
}

.question h1::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  right: 0;
  bottom: 0;
}

.sec07-answer {
  height: 710px;
  text-align: center;
}

.sec07-answer h1 {
  font-size: 17px;
  padding-bottom: 15px;
}

.sec07-answer h2 {
  font-size: 11px;
  padding-bottom: 25px;
}

.sec07-answer h3 {
  font-size: 9px;
  padding-bottom: 22px;
  color: #7F7F7F;
}

.triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 17px solid #EBB94D;
}

.sec07-answer li {
  width: 515px;
  height: 160px;
  margin: 0 auto 25px auto;
  list-style: none;
  position: relative;
}


.sec07-answer img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #EBB94D;
}

.message {
  width: 340px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 10px;
}

.name {
  text-decoration: underline;
  padding-top: 5px;
}


.message p {
  font-size: 12px;
  line-height: 20px;
  color: #7F7F7F;
  font-style: oblique;
}

.sec08-1 {
  height: 540px;
  background-image: url(img/classbg.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.sec08-1 h1 {
  color: #fff;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.sec08-1 h2 {
  color: #fff;
  font-size: 11px;
  padding-bottom: 35px;
}

.sec08-1 li {
  width: 245px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #036EA9;
  margin-right: 20px;
}

.sec08-1 li h3 {
  background-color: #036EA9;
  color: #fff;
  font-size: 12px;
  width: 245px;
  height: 40px;
  line-height: 40px;
}

.sec08-1 li p {
  background-color: #fff;
  border: 1px dotted #E5E5E5;
  font-size: 11px;
  line-height: 33px;
}

.sec08-2 {
  height: 90px;
  background-color: #036EA9;
  text-align: center;
  color: #fff;
  position: relative;
}

.sec08-2 p {
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}

.sec09 {
  height: 1210px;
  text-align: center;

}

.sec09 h1 {
  font-size: 20px;
  padding: 40px 0;
}

.sec09 img {
  width: 660px;
  margin-bottom: 20px;
}

.sec09 li {
  list-style: none;
}

.isara-step {
  background-color: #FEF5E0;
  position: relative;
  width: 770px;
  height: 150px;
  padding: 20px 30px 0 55px;
  box-sizing: border-box;
}

.icon {
  width: 75px;
  height: 105px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon img {
  width: 65px;
  height: 60px;
  margin-bottom: 10px;
}

.icon h2 {
  font-size: 11px;
  line-height: 20px;

}

.step-txt {
  width: 645px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
}

.step-txt h3 {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
}

.step-txt p {
  font-size: 10px;
  margin: 18px 0;
  line-height: 13px;

}

.step-line1 {
  width: 500px;
  height: 20px;
  margin: 0 auto;;
  border-left: 2px solid #FAD890;
  border-bottom: 2px solid #FAD890;
}


.step-line2 {
  width: 500px;;
  height: 20px;
  margin: 0 auto;
  border-right: 2px solid #FAD890;
}

.step-line3 {
  width: 500px;
  height: 20px;
  margin: 0 auto;;
  border-right: 2px solid #FAD890;
  border-bottom: 2px solid #FAD890;
}


.step-line4 {
  width: 500px;;
  height: 20px;
  margin: 0 auto;
  border-left: 2px solid #FAD890;
}


.isara-step2 {
  background-color: #FEF5E0;
  position: relative;
  width: 770px;
  height: 165px;
  padding: 20px 30px 0 55px;
  box-sizing: border-box;
}


.isara-step3 {
  background-color: #FEF5E0;
  position: relative;
  width: 770px;
  height: 130px;
  padding: 20px 30px 0 55px;
  box-sizing: border-box;
}



.sec10 {
  height: 325px;
  text-align: center;
  background-image: url(img/bangkokbg.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.sec10 .container {
  text-align: left;
  position: relative;
  height: 100%;
}

.sec10 li {
  list-style: none;
  line-height: 23px;
  font-size: 12px;
}

.sec10-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.sec10 h1 {
  font-size: 18px;
  padding-bottom: 15px;
}

.sec10 p {
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 8px;
}

.sec10 h2 {
  font-size: 14px;
  padding-top: 10px;
}

.sec11 {
  height: 435px;
  background-color: #F7C23B;
  text-align: center;
}

.sec11 h2 {
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 35px;
}

.sec11-text {
  font-size: 11px;
  padding-bottom: 50px;
}

.sec11-1 {
  border: 2px solid #fff;
  width: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}

.sec11 span {
  color: #fff;
}


.list1, .list2 {
  margin-right: 80px;
}

.sec11 li {

  display: inline-block;
  background-color: #fff;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  vertical-align: top;
  position: relative;



}


.sec11-1 ul {
  width: 660px;
  margin: 0 auto;

}

.sec11-1 h1 {
  width: 45%;
  background-color: #F7C23B;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  
}

.tokuten-txt {
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.sec11 li h3 {
  color: #F7C23B;
  font-size: 15px;
  padding-bottom: 15px;
}

.sec11 li p {
  font-size: 10px;
  line-height: 15px;
}

.sec12 {
  height: 345px;
  background-image: url(img/specialdetailsp.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sec12 h1, .sec12 h3 {
  font-size: 18px;
}

.sec12 h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.sec12 h2 {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 23px;
}


.sec12 h3 {
  display: inline-block;
  padding: 10px 75px;
  margin-bottom: 10px;
  position: relative;
}

.sec12 h3::before, .sec12 h3::after {
  content: "";
  width: 30px;
  height: 30px;
    position: absolute;
}

.sec12 h3::before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  top: 0;
  left: 0;
}


.sec12 h3::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  right: 0;
  bottom: 0;
}

.sec13 {
  height: 400px;
  text-align: center;
}

.sec13 img {
  width: 128px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}


.sec13 h1 {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.sec13 h2 {
  font-size: 13px;
  padding-bottom: 30px;
}

.sec13-message {
  width: 570px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding-left: 150px;
  box-sizing: border-box;
}

.sec13-message p {
  font-size: 8px;
  padding-bottom: 10px;
}

form {
  text-align: center;
  height: 460px;
  background-color: #EBB94D;
  padding-top: 40px;
  box-sizing: border-box;
}


form h1 {
  font-size: 20px;
  
  padding-bottom: 15px;
}

form p {
  font-size: 10px;
  padding-bottom: 25px;
}

input, textarea {
  display: block;
  width: 1000px;
  margin: 0 auto;
  color: #ADADAD;
  font-size: 10px;
  border-style: none;
  border-radius: 2px;
  margin-bottom: 20px;
}

input {
  height: 35px;
}

textarea {
  height: 65px;
}

.submit {
  background-color: #DB6B65;
  color: #fff;
  width: 1000px;
  height: 40px;
  border-style: none;
  border-radius: 15px;
}

.sec14 {
  max-height: 3420px;
  text-align: center;
  padding-bottom: 40px;
}

.sec14 h1 {
  font-size: 20px;
  padding-top: 45px;
  padding-bottom: 30px;
}

.shitsumon {
  text-align: left;
}

.shitsumon h2 {
  border: 1px solid #ECECEC;
  line-height: 40px;
  font-size: 12px;
  padding-left: 15px;
  margin-bottom: 3px;
}

.shitsumon p {
  font-size: 11px;
  display: none;
}


footer {
  background-color: #ECECEC;
  height: 110px;
  text-align: center;
  font-size: 5px;
}

footer p {
  padding-top: 27px;
  padding-bottom: 15px;
}

.faq-list-item:hover {
  cursor: pointer;
}



.faq-list-item:hover h2{
  text-decoration: underline;
}



.faq-list-item p {
  line-height: 20px;
  padding: 5px 15px;
  
}

.brsp {
  display: none;
}
